.header_box{
    height: 100px;
    width: 1200px;
    border: solid 0px black;
    margin: auto;

}
.menu_box{
    height: 100px;
    width: 995px;
    border: solid 0px rgb(233, 157, 157);
    float: left;
}
.logo_box{
    height: 100px;
    width: 200px;
    border: solid 0px black;
    float: left;
    text-align: center;

}

.menu_item_box{
    list-style: none;
}
.menu_item{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 0px rgb(243, 77, 77);
    float: left;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    margin: 7px;
    background-color: rgb(243, 156, 156);
    color: rgb(9, 25, 29);
    border-radius: 20px;
}
.header_border{
    width: 1200px;
}
.list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(250, 36, 82);
    padding-left: 5px;
    
}  

/* Explore Products */


.box{
    height: 220px;
    width: 230px;
    border: solid 0px black;
    float: left;
    margin-right: 28px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.text_box{
    height: 100px;
    width: 230px;
    border: solid 1px black;
    
   
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(250, 36, 82);
    padding-left: 5px;
    text-align: left;
    
}
.price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(245, 143, 59);
    padding-left: 5px;
    text-align: left;
    
}
.btn_1{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px rgba(59, 2, 2, 0.521);
    font-size: 15px;
    color: rgb(240, 233, 233);
    background-color: rgb(241, 130, 102);
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}